# Klipper config for Ender 3 NG.

# Custom built by referencing:
# - https://www.klipper3d.org/Config_Reference.html
# - https://github.com/Klipper3d/klipper/blob/master/config/generic-bigtreetech-skr-mini-e3-v3.0.cfg
# - https://github.com/TonySac/Ender-3-Neo-Config
# - https://github.com/TonySac/Voron0-Config

# Walkthough of my config build on my log site (https://e3nglog.themakermedic.com/software_config-printercfg.html)

# Advanced features:
# - BTT SKR Mini E3 as USB to CAN Bridge
# - EBB36 Toolhead Board

[include mainsail.cfg]
[include homing.cfg]
[include macros.cfg]
#[include neopixel.cfg]
[include KAMP_Settings.cfg]
[include testspeed.cfg]
[include KOMB.cfg]
[include fans.cfg]
[include leds.cfg]

#####################################################################
# MCU Settings & Features
#####################################################################

# BTT SKR Mini E3 v3
# BTT EBB36 gen 2 v1.0 USB
# Raspberry Pi 3B

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_04002B0015504D5930313820-if00
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4900340013504D5930313820-if00
#serial: /dev/ttyAMA0
#restart_method: command


[temperature_sensor SKR]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[mcu EBB36_Toolhead]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_EBB36_GEN-if00
restart_method: command

[temperature_sensor EBB36_Toolhead]
sensor_type: Generic 3950
sensor_pin: EBB36_Toolhead:PA0
pullup_resistor: 2200
min_temp: 0
max_temp: 100

[temperature_sensor RaspberryPi_temp]
sensor_type: temperature_host
min_temp: 10
max_temp: 80

[exclude_object]

[skew_correction]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1

#####################################################################
# Motion
#####################################################################

# All motors are StepperOnline 17HS15-1504S-X1 with max run current of 1.5A.
# Min/Max/Offsets tuned for my print area (constrained due to StealthBurner).

[printer]
kinematics: corexy
max_velocity: 500                    # Adjust based on your setup, 500 mm/s works fine with stock Creality stepper motors.
max_accel: 10000                     # Adjust based on your setup, 10000 mm/s2 works fine with stock Creality stepper motors.
square_corner_velocity: 5.0
max_z_velocity: 10
max_z_accel: 250

[firmware_retraction]
retract_length: 0.5
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 60

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 64
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
# endstop_pin: EBB36_Toolhead:PA15
position_endstop: -2
position_min: -2
position_max: 228
homing_speed: 50
# homing_speed: 75
# second_homing_speed: 25
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.6                     # Current for stock Creality 42-34 stepper motors.
interpolate: false
diag_pin: ^PC0
stealthchop_threshold: 0
driver_SGTHRS: 122

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 64
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
#endstop_pin: PC1                     # Connected to slot Y-STOP
position_endstop: 232.5
position_min: -16
position_max: 232.5
homing_speed: 50
#second_homing_speed: 25
homing_positive_dir: true
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
diag_pin: ^PC1
uart_address: 2
run_current: 0.6                     # Current for stock Creality 42-34 stepper motors.
interpolate: false
stealthchop_threshold: 0
driver_SGTHRS: 110

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 128
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 245
position_min: -20
homing_speed: 5
second_homing_speed: 3
homing_retract_speed: 2
homing_retract_dist: 5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.5                     # Current for stock Creality stepper motor - can be increased if required.
stealthchop_threshold: 0
interpolate: true

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
y_offset: 16
x_offset: 0
#z_offset: 0

#[safe_z_home]
#home_xy_position: 117.5,101.5
#speed: 50
#z_hop: 30
#z_hop_speed: 10

[autotune_tmc stepper_x]
motor: creality-42-34
tuning_goal=performance
[autotune_tmc stepper_y]
motor: creality-42-34
tuning_goal=performance
[autotune_tmc stepper_z]
motor: creality-42-34
tuning_goal=auto

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal=performance

#####################################################################
# Toolhead
#####################################################################

# StealthBurner

[extruder]
step_pin: EBB36_Toolhead:PB14
dir_pin: EBB36_Toolhead:PA8
enable_pin: !EBB36_Toolhead:PB6                                 
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 4.69
nozzle_diameter: 0.4                             #define nozzle diameter
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
#gear_ratio: 50:10 # Mini Sherpa
nozzle_diameter: 0.4
heater_pin: EBB36_Toolhead:PB4
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_type: EPCOS 100K B57560G104F
sensor_type: Generic 3950
pullup_resistor: 2200
sensor_pin: EBB36_Toolhead:PA3
#diag_pin: ^EBB36_Toolhead:PD1
min_temp: 0
max_temp: 285
max_extrude_only_distance: 101 
max_extrude_cross_section: 5
#max_power: 0.8

[tmc2209 extruder]
uart_pin:  EBB36_Toolhead:PB3
interpolate: false
run_current: 0.850 #**
sense_resistor: 0.110 #**
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[multi_pin hotend]
pins: EBB36_Toolhead:PD3, EBB36_Toolhead:PA5  # List all pins to be controlled together

[fan]
pin: multi_pin:hotend

[heater_fan hotend_fan]
pin: EBB36_Toolhead:PD2
heater: extruder
heater_temp: 50.0
fan_speed: 0.75

#[filament_switch_sensor fil_det]
#switch_pin: EBB36_Toolhead:PD0

#####################################################################
# Bed
#####################################################################

[heater_bed]
heater_pin: PC9
#sensor_type: ATC Semitec 104GT-2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 225, 220
probe_count: 5,5
algorithm: bicubic

[screws_tilt_adjust]
screw1: 28.5, 23.5
screw1_name: Front Left
screw2: 196.5, 23.5
screw2_name: Front Right
screw3: 196.5, 193.5
screw3_name: Back Right
screw4: 28.5, 193.5
screw4_name: Back Left
screw_thread: CW-M4

#[output_pin rled]
#pin:EBB36_Toolhead:PA2

[neopixel hotend_rgb]
pin: EBB36_Toolhead:PC7
chain_count: 3 # Change to the number of LEDs you have
color_order: GRB # Most strips are GRB, some are RGB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

[neopixel caselight]
pin: PA8  # Change to your pin
chain_count: 20 # Number of LEDs
color_order: BRG
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1

[neopixel skirt]
pin: PC15  # This is the Z-Max pin
chain_count: 2 # Change to the number of LEDs you have
color_order: GRB # Most strips are GRB, some are RGB
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1


#####################################################################
# Additional Fans & Sensors
#####################################################################

[lis2dw]
cs_pin: EBB36_Toolhead:PB1
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,y,z

[resonance_tester]
accel_chip: lis2dw
probe_points:
    117.5, 117.5, 10

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#####################################################################
# BigTreeTech TFT Touchscreen emulated 12864 mode
#####################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

#[output_pin beeper]
#pin: PB5

[input_shaper]
shaper_freq_x: 58.6
shaper_type_x: mzv
shaper_freq_y: 41.0
shaper_type_y: mzv
damping_ratio_x: 0.060
damping_ratio_y: 0.069

[gcode_macro PRINT_START]
gcode:
  # Fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}
  {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Clear any lingering pause states
  CLEAR_PAUSE

  # Homes the printer and sets absolute positioning
  G28                                                 # Full home (XYZ)
  G90                                                 # Absolute position

  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR

  # Checks if the bed temp is higher than 90c - if so then trigger a heatsoak
  {% if params.BED|int > 90 %}
    M106 S255                                         # Turn on the PT-fan
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"

    ##  Uncomment if you have a Nevermore.
    #SET_PIN PIN=nevermore VALUE=1                    # Turn on the nevermore

    G1 X{x_wait} Y{y_wait} Z15 F9000                  # Go to center of the bed
    M190 S{target_bed}                                # Set target temp for the bed
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber_wait}   # Wait for chamber temp
  # If the bed temp is not over 90c it skips the heatsoak and just heats up to set temp with a 1 min soak.
  {% else %}
    SET_DISPLAY_TEXT MSG="5 min bedtemp stabilise"     # Display info on display
    G1 X{x_wait} Y{y_wait} Z15 F9000                  # Go to center of the bed
    M190 S{target_bed}                                # Set target temp for the bed
    G4 P300000                                        # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  #SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  #M109 S150
  
  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                      # Display info on display
  #STATUS_MESHING                                       # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE 

  # Heats up the hotend up to target via slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"
  M107                                                # Turn off partcooling fan
  M109 S{target_extruder}                             # Heat hotend to print temp
  SKEW_PROFILE LOAD=Califlower

  # Create a prime line and starts the print
  SET_DISPLAY_TEXT MSG="Printing"
  G1 X5 Y4 Z0.4 F10000                                # Go to starting point
  G1 X115 E20 F1000

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament

    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    STATUS_READY
    SET_SKEW CLEAR=1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.470
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.784
#*# pid_ki = 20.436
#*# pid_kd = 16.552
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.555
#*# pid_ki = 1.761
#*# pid_kd = 810.328
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.050781, 0.031562, 0.009687, 0.008750, -0.015625
#*# 	0.026875, 0.031719, 0.012031, 0.035000, 0.025312
#*# 	-0.035938, -0.002813, 0.022812, 0.025781, -0.002031
#*# 	-0.032031, -0.004844, -0.006719, -0.008281, 0.005156
#*# 	-0.091406, -0.047344, 0.001719, 0.000312, -0.025156
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 205.0
#*# min_y = 45.0
#*# max_y = 205.0
#*#
#*# [skew_correction Califlower]
#*# xy_skew = 0.005012565369964511
#*# xz_skew = 0.0
#*# yz_skew = 0.0
